.heading {
    text-align: center;
    font-family: serif;
    padding-top: 1%;
    padding-bottom: 3%;
}

.btnForm {
    margin-top: 2%;
}

form > button {
    margin-top: 2%;
}

.spinner-border {
    width: 1rem;
    height: 1rem;
    margin-left: 9px;
    margin-bottom: 2px;
}

