#simpleSider {
    background-image: url(http://store.picbg.net/pubpic/46/C5/4241166cd1c646c5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 135px;
    margin-bottom: 2%;
    text-align: center;
    padding-top: 30px;
    font-family: serif;
}