/* ----- Details ------ */
.tab-content, .heading {
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#heartIconDetails {
    font-size: 32pt;
    padding: 9px;
}

/* ----- Aside ------ */
#btnContact {
    padding: 6px;
}

#btnContact svg {
    font-size: 17pt;
    margin-right: 5px;
    margin-bottom: 3px;
}