.tab-content, .product-info-heading {
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#heartIconDetails svg {
    font-size: 34pt;
    cursor: pointer;
    margin-top: 22px;
    color:#81002c;
}


