#btnContact {
    padding: 6px;
}

#btnContact svg {
    font-size: 17pt;
    margin-right: 5px;
    margin-bottom: 3px;
}

#product-price-heading {
    display: inline;
}

#edit-icon svg {
    margin-bottom: 7px;
    margin-left: 7%;
    font-size: 15pt;
}