.dropdown-item svg, #addButton svg {
    margin-bottom: 2px;
    margin-right: 7px;
}

#addButton, #nav-sign-up {
    color: rgba(0, 0, 0, .8);
    border: 1px solid rgba(0, 0, 0, .4);
    padding: 10px;
}

#addButton:hover, #nav-sign-up:hover {
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 10px;
    background-color: #23272b;
}

.navbar-nav .dropdown {
    top: 3px;
}

#nav-sign-in {
    color: rgba(0, 0, 0, .8);
    padding: 10px;
}